#dogs-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 5rem;
  justify-content: center;
}

.dog-info,
#updateDogForm {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 8px 10px 19px -17px rgba(134, 134, 134, 0.6);
  background-color: #f7f6f6;
}

.dog-info img {
  margin: 2rem;
  border-radius: 8px;
  width: 300px;
}

#add-dog {
  text-align: center;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#updateDogForm {
  padding: 1rem 5rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  button {
    margin-top: 1rem;
  }
}

.dog-info button {
  margin: 10px;
}

input {
  padding: 0.2rem;
}

#add-msg {
  border: 1px solid #ccc;
  padding: 1rem 5rem;
  border-radius: 5px;
  box-shadow: 8px 10px 19px -17px rgba(134, 134, 134, 0.6);
  transition: transform 0.3s ease;
  font-size: 18px;
  background-color: #f7f6f6;

  p {
    margin-bottom: 15px;
  }
}

#routes {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 2rem;
}

#add-msg:hover {
  transform: scale(1.07);
}

@media (min-width: 1500px) {
  #dogs-list {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1rem;
  }
}

@media (max-width: 800px) {
  #add-msg {
    padding: 1.5rem;
  }

  #dogs-list {
    grid-template-columns: 1fr;
    margin: 1rem;
  }

  .dog-info {
    padding: 5px;
  }

  .dog-info img {
    margin: 0.5rem;
  }

  #updateDogForm {
    padding: 0.8rem 4rem;
  }
}
